<div class="title">
  {{#if is_completed}}
    <div class="check check--a">&#x2713;</div>
  {{else}}
    <div class="check check--a">&#x2715;</div>
  {{/if}}
  <h4>{{ name }}</h4>
  <span class="controls">[ <button class="edit">Aanpassen</button> | <button class="destroy">Verwijderen</button> ]</span>
</div>