<div class="title title--competence">
  <h2>{{ name }} - {{ total_ec }} EC</h2>
  <span class="controls">[ <button class="edit">Aanpassen</button> | <button class="destroy">Verwijderen</button> ]</span>
  <div class="arrow arrow--c"><img src="/assets/arrowhead.png" alt="arrow"></div>
</div>
<div class="content--c">
  <div id="c_{{ id }}"></div>
  <div class="new_learninggoal_wrapper">
    <button class="add new_learninggoal">New LearningGoal</button>
  </div>
</div>