<form class="edit_learninggoal_form" action="/learning_goals" method="post">
  <div class="deleteicon">
    <input id="name" type="text" name="name" value="{{ name }}">
    <span class="close">&#x2715;</span>
  </div>
</form>