<form class="new_learninggoal_form" action="/learning_goals" method="post">
  <div class="deleteicon">
    <input id="name" type="text" name="name">
    <span class="close close--new">&#x2715;</span>
  </div>
</form>