<form id="new_competence_form" action="/competences" method="post">
  <fieldset>
    <legend>New Competence</legend>

    <div class="form-group">
      <label class="control-label" for="name">Competence Name</label>
      <input class="form-control" type="text" name="name" id="name" placeholder="competence Name" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>